name: Chapter Scraper

on:
  workflow_dispatch:
    inputs:
      book_source_url:
        description: 'Source URL'
        required: false
        default: 'https://www.52shuku.net'
        type: string
      book_base_dir:
        description: 'Base Directory'
        required: false
        default: 'bjXRF'
        type: string

jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Scraper
      env:
        BOOK_SOURCE_URL: ${{ inputs.book_source_url }}
        BOOK_BASE_DIR: ${{ inputs.book_base_dir }}
      run: python step1_chapter_scraper.py

    - name: Commit and Push changes
      run: |
        git config --global user.name 'GitHub Action'
        git config --global user.email 'action@github.com'
        git add .
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update scraped chapters" && git push)
